<h1>Editing Listing</h1>

<%= render 'form', listing: @listing %>

<%= link_to 'Show', @listing, class: "btn btn-primary btn-center" %> |
<%= link_to 'Back', foundry_page_path, class: "btn btn-primary btn-center" %>

