<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Themelio</h1>
            <p class="lead">I am all that I give. What lies ahead is, by nature, beyond my control. I will accept this knowing that I have built a foundation strong enough to bear the weight of any burden, come what may.</p>
            <hr class="my-4">
            <p class="lead">
                <%= link_to "Start Building", new_listing_path, method: :get, class: "btn btn-primary btn-lg" %>
            </p>
            <p class="lead">
                <%= link_to "The Foundry", foundry_page_path, method: :get, class: "btn btn-primary btn-lg" %>
            </p>
        </div>
         
        <div class="col-md-6">
            <%= image_tag "logo", class: "home-image" %>
        </div>
    </div>
</div>

