<h1 class="Alexcenter">Alex's Domain</h1>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Alex B:</h1>
            <p class="lead">This page contains super secret information, you should probably sign in if you want to see this, my dude.</p>
            <hr class="my-4">
            <p class="lead">
                <%= link_to "Sign In", new_user_session_path, method: :get, class: "btn btn-primary btn-lg" %>
            </p>
        </div>  
        <div class="col-md-6">
            <%= image_tag "wednesdaymydudeswide", class: "home-image" %>
        </div>
    </div>
</div>
